$disabled-text-white-background: #6c707a;
$primary-text-black-background: #fefeff;
$primary-text-white-background: #1d2433;
$secondary-text-white-background: #4a505c;
$disabled-text-black-background: #9d9ea1;
$success-d-success-h-800: #04724D;
$danger-d-danger-h-800: #BA2532;
$c800-accent-text: #1d5bd6;
$base-background: #f8f9fc;
$black-lighter: rgba(0, 0, 0, 0.25);
$black-light: rgba(0, 0, 0, 0.50);
$black-default: #000;
$white-default: #fff;
$gray-light: #c2c9d1;
$danger-d-500: #f8727d;
$success-d-600: #0EA472;
