%button {
  display: flex;
  padding: 10px 8px 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: $primary-text-black-background;
  border: none;
  border-radius: 20px;
  color: $primary-text-white-background;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  box-shadow: 0px 8px 20px 0px rgba(145, 157, 181, 0.15);
  transition: 0.5s ease;
  cursor: pointer;

  &:hover {
    background: $base-background;
    box-shadow: none;
  }

  &:active {
    background: $disabled-text-white-background;
    box-shadow: none;
  }
  &:disabled {
    background: $primary-text-black-background;
    box-shadow: none;
    cursor: auto;
  }
}

%positionMax {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%fontPoppins {
  font-family: Poppins;
}
